<body>
    <div class="page-container">
      <!-- Header Section -->
      <div class="header">
        <div class="button-container">
            <!-- Dropdown for Genre Selection -->
              <select class="dropdown">
                <option value="" hidden>Select genre</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
              </select>

              <!-- Dropdown for Spoken Language Selection -->
              <select class="dropdown">
                <option value="" hidden>Select spoken language</option>
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="French">French</option>
                <option value="German">German</option>
              </select>
        </div>
        
        <div class="dropdown-container">
            <button class="button" (click)="filterResults()">filter results</button>
        </div>
      </div>
  
      <!-- Movie Cards Section -->
      <div class="movie-grid">
        <div *ngFor="let movie of movies" class="movie-card" (click)="goToDetails(movie.id)">
          <img src="" alt="{{movie.title}}" />
        </div>
      </div>
    </div>

    <div class="button-container-pagination">
      <button mat-fab class="load_more_button" (click)="loadPreviousPage()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-fab class="load_more_button" (click)="loadNextPage()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

  </body>
  