<body>
    <div class="page-container">
        <!-- Header Section -->
        <div class="header">
            <!-- Sorting Container -->
            <div class="sorting-container">
                <div class="sort-title">Sort by</div>
                <form [formGroup]="sortForm">
                    <div class="checkbox-container">
                      <mat-checkbox formControlName="popularity">Popularity</mat-checkbox>
                      <mat-checkbox formControlName="release_date">Release Date</mat-checkbox>
                      <mat-checkbox formControlName="revenue">Revenue</mat-checkbox>
                      <mat-checkbox formControlName="runtime">Runtime</mat-checkbox>
                      <mat-checkbox formControlName="vote_avarage">Vote avarage</mat-checkbox>
                      <mat-checkbox formControlName="vote_count">Vote count</mat-checkbox>
                      <!-- Add more checkboxes as needed -->
                    </div>
                  </form>
            </div>
            <div class="dropdown-container">
                <button class="button" (click)="sortResults()">sort results</button>
            </div>
        </div>

        <!-- Movie Cards Section -->
        <div class="movie-grid">
            <div *ngFor="let movie of movies" class="movie-card" (click)="goToDetails(movie.id)">
                <img [src]="moviePosterMap[movie.id]" alt="{{movie.title}}" />
            </div>
        </div>
    </div>

    <div class="button-container-pagination">
        <button mat-fab class="load_more_button" (click)="loadPreviousPage()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-fab class="load_more_button" (click)="loadNextPage()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
  
</body>
