<body>
    <div class="page-container">
        <!-- Header Section -->
        <div class="header">
            <!-- Sorting Container -->
            <div class="sorting-container">
                <div class="sort-title">Sort by</div>
                <div class="checkbox-container">
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Popularity</mat-checkbox>
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Release date</mat-checkbox>
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Revenue</mat-checkbox>
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Runtime</mat-checkbox>
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Vote avarage</mat-checkbox>
                    <mat-checkbox #checkbox value="Vote" class="example-margin">Vote count</mat-checkbox>
                </div>
            </div>
            <div class="dropdown-container">
                <button class="button" (click)="sortResults()">sort results</button>
            </div>
        </div>

        <!-- Movie Cards Section -->
        <div class="movie-grid">
            <div *ngFor="let movie of movies" class="movie-card" (click)="goToDetails(movie.id)">
                <img src="" alt="{{movie.title}}" />
            </div>
        </div>
    </div>

    <div class="button-container-pagination">
        <button mat-fab class="load_more_button" (click)="loadPreviousPage()">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-fab class="load_more_button" (click)="loadNextPage()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
  
</body>
