<body>
    <div class="movie-details-container">
        <!-- Movie Poster on the left -->
        <img src="https://via.placeholder.com/385x421" alt="Movie Poster" class="movie-poster" />

        <!-- Movie Details on the right -->
        <div class="movie-info-container">
            <div class="movie-title-container">
                <h1 class="movie-title">{{ movie?.title }}</h1>
                <div class="movie-details">
                    <span class="release-year-duration">
                        {{ getReleaseYear(movie?.release_date) }} - {{ getFormattedRuntime(movie?.runtime) }}
                      </span>
                    <span class="movie-rating">{{ movie?.vote_average }}/10</span>
                </div>

                <!-- Keywords -->
                <div class="keywords-container">
                    <div class="keyword" *ngFor="let keyword of movie?.keywords">{{keyword.name}}</div>
                </div>

                <!-- Overview -->
                <div class="overview-container">
                    <p class="overview">{{ movie?.overview }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- More Like This Button and Media/Trailers (Centered) -->
    <div class="center-container">
        <button class="more-like-this" (click)="viewRecommendations()">More like this</button>
        <app-media-and-trailers-view id="media-and-trailers-container"></app-media-and-trailers-view>
    </div>
</body>
