<div class="media-container">
  <div *ngIf="isLoading" class="loading-container">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div class="media-and-trailers-container" *ngIf="!isLoading && embedUrls && embedUrls.length > 0">
   <div class="media-header">
     <h2>Media and Trailers</h2>
   </div>
   <div class="media-content">
      <div *ngFor="let embedUrl of embedUrls" class="media-item">
        <iframe width="385" height="215" [src]="embedUrl | safe: 'url'" frameborder="0" allowfullscreen></iframe>
      </div>
   </div>
 </div>
 
 <div class="no-media-message" *ngIf="!isLoading && (!embedUrls || embedUrls.length === 0)">
   <mat-icon class="no-media-icon">video_library</mat-icon>
   <p>No trailers available for this movie</p>
 </div>
</div>
