<body>
  <div class="search-container">
    <h1 class="search-title">Find similar movies to your favorite ones</h1>
    
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Enter movie title" />
      <button class="search-icon" (click)="searchMovies()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <h2 class="top-rated-title">🔥 Top Rated Movies </h2>
  
  <div class="movies-container" *ngIf="movies && movies.length > 0">
    <div *ngFor="let movie of movies" class="movie-card" (click)="goToDetails(movie.id)">
      <img src="" alt="{{movie.title}}" />
    </div>
  </div>

  <div class="button-container">
    <button mat-fab class="load_more_button" (click)="loadPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-fab class="load_more_button" (click)="loadNextPage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>

</body>
